################################################################################
# Il file gitignore è stato creato automaticamente da Microsoft(R) Visual Studio.
################################################################################

/.vs
/Projects directory/obj
/Projects directory/bin/Release/net8.0-windows
/OpenLab Studio Plugin User Variables/bin/Release/net8.0-windows
/OpenLab Studio Plugin User Variables/Properties/PublishProfiles
/OpenLab Studio Plugin User Variables/obj
/OpenLab Studio Projects Directory/bin/Release/net8.0-windows
/OpenLab Studio Projects Directory/obj
/OpenLab Studio Projects Directory/Properties/PublishProfiles/FolderProfile.pubxml
